@font-face {
    font-family: 'Neue Regrade';
    src: url('NeueRegrade-Medium.woff2') format('woff2'),
        url('NeueRegrade-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('NeueRegrade-Regular-Italic.woff2') format('woff2'),
        url('NeueRegrade-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('NeueRegrade-Light.woff2') format('woff2'),
        url('NeueRegrade-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('NeueRegrade-Medium.woff2') format('woff2'),
        url('NeueRegrade-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('NeueRegrade-Regular-Italic.woff2') format('woff2'),
        url('NeueRegrade-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

