// Banner Component Styles

.text-center {
	text-align: center;
}
.banner-container {
	position: relative;
	width: 100%;
	min-height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// Overlay for better text readability (optional)
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.4) 0%,
				rgba(0, 0, 0, 0.2) 20%,
				rgba(0, 0, 0, 0) 50%
			),
			linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.3) 25%,
				rgba(0, 0, 0, 0) 50%
			);
		z-index: 1;
	}

	.banner-content {
		position: relative;
		z-index: 2;
		width: 100%;

		.container {
			position: absolute;
			bottom: 60px;
			left: 0;
		}
	}

	.banner-title {
		font-family: "Neue Regrade", sans-serif;
		font-size: 70px;
		font-weight: 600;
		font-style: normal;
		line-height: 86px;
		letter-spacing: 0px;
		color: $white;
		margin: 0;
		text-align: left;
		text-transform: capitalize;
	}
}
