@font-face {
   font-family: 'Neue Regrade';
   src: url('../fonts/NeueRegrade-Light.woff2') format('woff2'),
       url('../fonts/NeueRegrade-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Neue Regrade';
   src: url('../fonts/NeueRegrade-Regular-Italic.woff2') format('woff2'),
       url('../fonts/NeueRegrade-Regular-Italic.woff') format('woff');
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Neue Regrade';
   src: url('../fonts/NeueRegrade-Medium.woff2') format('woff2'),
       url('../fonts/NeueRegrade-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

