// News Tabs Component Styles

.news-tabs-nav {
	width: 100%;
 
	padding: 0;
	position: relative;
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: $gold;
        opacity: 0.5;
	}
}

.news-tabs-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
    justify-content: center;
	gap: 0;
}

.news-tabs-item {
	list-style: none;
	margin: 0;
	padding: 0;
	
	&.active {
		.news-tabs-link {
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(197, 177, 127, 0.20) 100%
              );
			color: $gold;
			position: relative;
			
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			 
				background-size: 4px 4px;
				pointer-events: none;
			}
		}
	}
}

.news-tabs-link {
	display: block;
	padding:30px 40px;
	font-size:24px;
	font-weight: 500;
	color: #666;
	text-decoration: none;
	transition: all 0.3s ease;
	position: relative;
	
	&:hover {
		color: $gold;
	}
	
	@media #{$media-1024} {
		padding: 18px 35px;
		font-size: 15px;
	}
	
	@media #{$media-768} {
		padding: 15px 25px;
		font-size: 14px;
	}
	
	@media #{$media-600} {
		padding: 12px 20px;
		font-size: 13px;
	}
}

