// Press Release Detail Component Styles

.press-release-detail-section {
	width: 100%;
	padding: 60px 0;
	
	@media #{$media-768} {
		padding: 40px 0;
	}
}

.press-release-detail-wrapper {
	max-width: 900px;
	margin: 0 auto;
}

.press-release-detail-meta {
	margin-bottom: 20px;
	
	@media #{$media-600} {
		margin-bottom: 15px;
	}
}

.press-release-detail-date {
	font-size: 16px;
	font-weight: 500;
	color: $gold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	
	@media #{$media-600} {
		font-size: 14px;
	}
}

.press-release-detail-title {
	font-size: 42px;
	font-weight: 600;
	color: #000;
	margin: 0 0 40px 0;
	line-height: 1.3;
	
	@media #{$media-1024} {
		font-size: 36px;
		margin-bottom: 35px;
	}
	
	@media #{$media-768} {
		font-size: 32px;
		margin-bottom: 30px;
	}
	
	@media #{$media-600} {
		font-size: 28px;
		margin-bottom: 25px;
	}
}

.press-release-detail-image {
	width: 100%;
	margin-bottom: 40px;
	border-radius: 12px;
	overflow: hidden;
	
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	
	@media #{$media-768} {
		margin-bottom: 30px;
		border-radius: 8px;
	}
	
	@media #{$media-600} {
		margin-bottom: 25px;
	}
}

.press-release-detail-content {
	font-size: 18px;
	line-height: 1.8;
	color: #333;
	
	p {
		margin-bottom: 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	h2, h3, h4 {
		margin-top: 30px;
		margin-bottom: 15px;
		color: #000;
		font-weight: 600;
	}
	
	h2 {
		font-size: 32px;
	}
	
	h3 {
		font-size: 28px;
	}
	
	h4 {
		font-size: 24px;
	}
	
	ul, ol {
		margin: 20px 0;
		padding-left: 30px;
	}
	
	li {
		margin-bottom: 10px;
	}
	
	a {
		color: $gold;
		text-decoration: none;
		transition: color 0.3s ease;
		
		&:hover {
			color: darken($gold, 10%);
			text-decoration: underline;
		}
	}
	
	@media #{$media-768} {
		font-size: 16px;
		line-height: 1.7;
		
		h2 {
			font-size: 28px;
		}
		
		h3 {
			font-size: 24px;
		}
		
		h4 {
			font-size: 20px;
		}
	}
	
	@media #{$media-600} {
		font-size: 15px;
		line-height: 1.6;
	}
}

