// Services Stack Component Styles

.services-stack-container {
	width: 100%;
	position: relative;
	background-color: $black;
	min-height: 100vh;

	.services-stack-card {
		width: 100vw;
		height: 100vh;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.services-stack-card-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 1;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(112.79deg, rgba(0, 0, 0, 0) 51.28%, rgba(0, 0, 0, 0.3) 93.28%),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

				z-index: 2;
			}
		}

		.services-stack-card-content {
			position: absolute;
			top: 250px;
			z-index: 2;
			// padding: 40px 60px;
		   left: max(60px, calc((100vw - 1400px) / 2 - 30px));
			color: $white;
            margin-bottom: auto;
			transform: translateY(0);

		}

		.services-stack-card-tag {
			@include services-stack-tag;
			font-weight: 600;
			font-style: normal;
			letter-spacing: 12%;
			text-transform: uppercase;
			display: block;
			margin-bottom: 20px;
			color: $gold;
		}

		.services-stack-card-title {
			@include services-stack-title;
			font-weight: 600;
			font-style: normal;
			line-height: 130%;
			color: $white;
			margin: 0 0 20px 0;
		}

		.services-stack-card-description {
			@include services-stack-description;
			font-weight: 400;
			font-style: normal;
			letter-spacing: 0%;
			color: $white;
			margin: 0;
			max-width: 600px;
		}

		.services-stack-arrow-link {
			position: absolute;
			bottom: 100px;
			right: max(60px, calc((100vw - 1400px) / 2 - 30px));
			width: 80px;
			height: 80px;
			border-radius: 50%;
			border: 1px solid $white;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 3;
			transition: all 0.5s ease;
			background: transparent;

			&:hover {
				background: rgba(197, 177, 127, 0.2);
				border: 1px solid #C5B17F;
				transform: rotate(-45deg);

					svg {
						color: #C5B17F;
					}
			}

			svg {
				width: 37px;
				height: 22px;
				color: $white;
			}
		}
	}

	// Tablet Responsive
	@media #{$media-1024} {
		padding-top: 70px;

		.services-stack-card {
			.services-stack-card-content {
				padding: 35px 50px;
			}

			.services-stack-arrow-link {
				width: 70px;
				height: 70px;
				bottom: 35px;
				right: 50px;

				svg {
					width: 32px;
					height: 19px;
				}
			}
		}
	}

	// Mobile Responsive
	@media #{$media-768} {
		padding-top: 60px;

		.services-stack-card {
			.services-stack-card-content {
				padding: 30px 40px;
			}

			.services-stack-arrow-link {
				width: 60px;
				height: 60px;
				bottom: 30px;
				right: 40px;

				svg {
					width: 28px;
					height: 17px;
				}
			}
		}
	}

	// Small Mobile Responsive
	@media #{$media-600} {
		padding-top: 50px;

		.services-stack-card {
			.services-stack-card-content {
				padding: 25px 30px;
			}

			.services-stack-arrow-link {
				width: 55px;
				height: 55px;
				bottom: 25px;
				right: 30px;

				svg {
					width: 25px;
					height: 15px;
				}
			}
		}
	}
}

// About Page Specific Styles
.about-page-services-stack-wrapper {
	.services-stack-card {
		justify-content: center;

		.services-stack-card-bg {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(262.3deg, rgba(0, 0, 0, 0) 20.88%, rgba(0, 0, 0, 0.62) 90.48%),
					linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
				z-index: 2;
			}
		}

		.services-stack-card-content {
			position: absolute !important;
			top: 50% !important;
			left: max(60px, calc((100vw - 1400px) / 2 - 30px)) !important;
			transform: translateY(-50%) !important;
			margin-bottom: 0 !important;
		}
	}
}
