// Main SCSS file

@import "fonts";
@import "mixins";
@import "base";
@import "variable";
@import "typography";
@import "common-elements";
@import "header";
@import "footer";
@import "contactus";
@import "banner";
@import "main-banner";
@import "where-ever";
@import "statistics";
@import "services-stack";
@import "partners";
@import "testimonials";
@import "news-articles";
@import "comon";
